      <article>
        <h1>{{ message.author }}</h1>
        <p class="twitter--author-name">@{{ message.screenName }}</p>
        <p>{{ message.body }}</p>
        <p>1 dag geleden</p>
      </article>